* {
    font-family: 'Work Sans', sans-serif; /* fonts */
    color: white;
}

html, body, .category { /* DO NOT TOUCH! */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html, body {
    overflow: hidden;
}

#main {
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    overflow-y: scroll;
}

/* two main parts */

#main, #map {
    display: inline-block;
}

#main {
    height: 100%;
    width: 16%;
    padding: 2%;
    /*text-align: center;*/
}

#map {
    position: relative;
    width: 80%;
    height: 100%;
    float: right;
}
/* two main parts end */

.category {
    height: 90%;
    transition: display 15s;
    text-align: center;
}

#name {
    font-size: 150%;
}

.home_cat {
    padding: 15% 2%;
    border: 2px solid white;
    border-radius: 2%;
    transition: padding 1s;
}
.home_cat:hover {
    padding: 17% 2%;
    cursor: pointer;
}

.homeButton {
    border: 2px solid white;
    padding: 8% 5%;
    border-radius: 2%;
    transition: 1s padding;
    text-align: center;
}

.homeButton:hover {
    padding: 10% 6%;
    cursor: pointer;
}

#statistics,#report { /* initial display */
    display: none;
}

.reportSub {
    height: 100%;
    width: 100%;
}

#statistics > img {
    width: 100%;
    border-radius: 3%;
    border: 2px solid rgb(47, 134, 247)
}

.header {
    text-align: left;
    font-size: 100%;
}

input {
    width: 90%;
    padding: 6%;
    background-color: rgba(0,0,0,0);
    border: 2px solid white;
    border-radius: 5%;
}

#notification {
    width: 20%;
    z-index: 1;
    margin: 0;
}

#notification > img {
    width: 100%;
    position: relative;
    z-index:0;
}

#notificationDropDown {
    display: none;
    position: absolute;
    width: 13%;
    height: 25%;
    border: 1px solid white;
    background-color: rgb(83, 186, 255);
}

#notifyContainer > p {
    
    font-size: 65%;
}

#notificationDropDown > h2 {
    display: inline-block;
    border-bottom: 1px solid white;
    margin-left: 2%;
    font-size: 60%;
}

textarea {
    width: 80%;
    height: 25%;
    padding: 2%;
    border: 2px solid white;
    background-color: rgba(0,0,0,0);
}

#info > h4:hover {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/*