* {
    font-family: 'Work Sans', sans-serif; /* fonts */
}

html, body, .category { /* DO NOT TOUCH! */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.category, #main {
    background-color: rgb(121, 255, 109)
}

/* two main parts */

#main, #map {
    display: inline-block;
}

#main {
    height: 93%;
    width: 16%;
    padding: 2%;
    text-align: center;
}

#map {
    
    position: relative;
    width: 80%;
    height: 100%;
    float: right;
}
/* two main parts end */

.category {
    height: 90%;
}

#name {
    font-size: 150%;
}

.home_cat {
    padding: 5% 2%;
    border: 1px solid blue;
    border-radius: 2%;
}

#statistics,#report { /* initial display */
    display: none;
}

.reportSub {
    height: 100%;
    width: 100%;
}